{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Se connecter</h3>

                                <!-- Sign In Form -->
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <div>
                                        <label for="inputEmail">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                        <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                                    <div>
                                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                                    </div><br>
                                    <div>
                                        <a href="{{ path('app_register') }}">Créer un compte</a>
                                    </div><br>
                                    <div>
                                        <p class="h6 mb-3 font-weight-normal">Première connexion ?</p>
                                        <a class="btn btn-primary" href="{{ path('app_forgot_password_request') }}" role="button">Cliquez ici</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
