<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/forgot_password.css">

    <title>SORTIR.COM</title>
</head>
<body>


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2">

        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

        <div class="sky">
            <div class="scorebar">
                <style>
                    .topline-mario{position:absolute;}
                    .topline-world{position:absolute; left:55%;}
                    .topline-time{position:absolute; left: 85%;}
                    .bottomline-score{position:absolute; top: 90px;}
                    .bottomline-coin{position:absolute; top: 80px; left:30%;}
                    .bottomline-world{position:absolute; top: 90px; left:55.7%;}
                    .bottomline-time{position:absolute; top: 90px; left:85.5%;}
                </style>
                <p><span class="topline-mario">MARIO</span>
                    <span class="topline-world">WORLD</span>
                    <span class="topline-time">TIME</span>
                    <span class="bottomline-score">OOOOOO</span>
                    <span class="bottomline-coin"><img src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/Coin.gif" height="40px"> x OO</span>
                    <span class="bottomline-world">1 - 1</span>
                    <span class="bottomline-time">60</span>
                </p>
            </div>

            <img class="cloud" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/CloudSingle.gif">
            <img class="cloud" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/CloudDouble.gif">
            <img class="cloud" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/CloudTriple.gif">
        </div>
        <div class="ground">
            <div class="skyblocks">
                <img class="brick" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/Bricks.gif" height="70px;">
                <img class="brick" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/QuestionBlock.gif" height="70px;">
                <img class="brick" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/Bricks.gif" height="70px;">
                <img class="brick" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/Bricks.gif" height="70px;">
                <a class="brick" href="https://supermario-game.com/fr"><img class="brick" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/QuestionBlock.gif" height="70px;"></a>

            </div>

            <img class="bush" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/BushSingle.gif" height="70px;">
            <img class="bush" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/BushDouble.gif" height="70px;">
            <img class="bush" src="https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/BushSingle.gif" height="70px;">

            <div class="mario"></div>

        </div>

    </div>

    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="mb-4">
                        <h3> Mot de passe oublié ?</h3>
                        <p class="mb-4">Entrer votre adresse mail afin de changer votre mot de passe</p>
                    </div>
                            {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            {{ form_start(requestForm) }}
                                <div class="divReinisialisation">
                                    {{ form_row(requestForm.email) }}
                                </div>
                                <button class="btn btn-primary mt-4" id="reset">Résiliation Mot de passe</button>
                            {{ form_end(requestForm) }}
                                <a href="{{ path('app_login') }}"><button class="btn btn-secondary mt-4" id="reset">Retour au Site</button></a>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>