{% extends 'base.html.twig' %}

{% block title %}SORTIR.COM{% endblock %}
{% block body %}

<div class="container">
</div>

<div class="container mt-5 row gap-3 containerMap">
    <div class="col-sm-6 col-12 cardDetailMap map-responsive">
        <input type="hidden" class="latitude" value="{{events.place.latitude}}"></input>
        <input type="hidden" class="longitude" value="{{events.place.longitude}}"></input>
            <div id="map" style="height: 100vh";>
    </div>

    </div>
        <div class="col-sm-6 col-12 cardDetailMap">
        <h2>{{events.nom}} - {{events.campus}}</h2>
        <h5>{{events.place.nom}} - {{events.place.rue}}</h5>
        <br>
        <h5>{{events.infosSortie | raw}}</h5>
        <br>
        <span>Date début : {{events.dateHeureDebut | date('d M Y') | format_datetime('full', 'none', locale='fr') }}</span>
        <br>
        <span>Date Limite Inscription : {{events.dateLimiteInscription | date('d M Y') | format_datetime('full', 'none', locale='fr') }}</span>
    </div>
</div>


{% endblock %}
