{% extends 'base.html.twig' %}

{% block title %}SORTIR.COM{% endblock %}
{% block body %}

<div class="container">
</div>

<div class="container mt-5 row gap-3 containerMap">
    <div class="col-sm-6 col-12 cardDetailMap map-responsive">
        <input type="hidden" id="latitude" value="{{events.place.latitude}}"></input>
        <input type="hidden" id="longitude" value="{{events.place.longitude}}"></input>
        <div id="map" style="height: 100vh";>
        </div>

    </div>
        <div class="col-sm-6 col-12 cardDetailMap">
            <div class="containerCardDetailsInfo">
                <div class="cardDetailsTitle">
                    <h2>{{events.nom}}</h2>
                    <h5>campus - {{events.campus}}</h5>
                </div>
                <div class="cardDeatailsAdresse">
                    <span>ADRESSE</span>
                    <h5>{{events.place.nom}} - {{events.place.rue}}</h5>
                </div>
                <div class="containerDetailsDate">
                    <div class="detailsDate">
                        <p class="titleDate">DEBUT DE L’EVENEMENT<p>
                        <p class="infoDate">{{events.dateHeureDebut | date('d M Y') | format_datetime('full', 'none', locale='fr') }}<p>
                    </div>
                    <div class="detailsDate">
                        <p class="titleDate">FIN DE L’EVENEMENT<p>
                        <p class="infoDate">{{events.dateLimiteInscription | date('d M Y') | format_datetime('full', 'none', locale='fr') }}<p>
                    </div>
                    <div class="detailsDate">
                        <p class="titleDate">DUREE DE L’EVENEMENT<p>
                        <p class="infoDate">{{events.duree | date('H:i') }}<p>
                    </div>
                </div>
                <hr>
                <div class="detailsEvent">
                    <h5>{{events.infosSortie | raw }}</h5>
                </div>
                <div class="addParticipant mb-2">
                    <a href="{{path('app_addParticipants', {'id': events.id})}}"<button type="submit" class="btn btn-info btn-lg"><span class="btnParticipate">PARTICIPER</span></button></a>
                </div>
                <div class="containerParticipant">
                        <span>PARTICIPANTS {{participants | length}} / {{events.nbInscriptionsMax}}</span>
                    
                    <div class="participantProfil">
                    {% for participant in participants %}
                        <hr>
                        <div class="containerProfil">
                            <img class="photoProfil" src="/uploads/images/profil/{{participant.photoProfil}}" >
                            <div class="infoProfil"><p>{{participant.prenom}} {{participant.nom}}</p><p>{{participant.email}}</p></div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
let lat = document.getElementById('latitude').value
let long = document.getElementById('longitude').value

console.log(lat);
console.log(long);

let map = L.map('map').setView([lat, long], 12);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
}).addTo(map);
let circle = L.circle([lat, long], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(map);
</script>

{% endblock %}
