<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/25/25231.png"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    {% block header %}
        <nav class="container navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">Logo Sortir.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Campus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Acceuil</a>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Mon Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('admin') }}">Administration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Créer un Compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se Connecter</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block body %}
        {% endblock %}
    </body>
</html>
