{% extends 'base.html.twig' %}

{% block title %}SORTIR.COM{% endblock %}

{% block body %}

<div class="container mt-5 row gap-3 containerProfil">
    <div class="col-sm-6 col-12 cardDetailMap">
        <div class="containerCardDetailsProfil"> 
            <div class="cardDetailsTitle">
                <h3>Mon profil</h3>
            </div>
                    <div class="containerDetailsProfil">
                        <div class="user-image">
                            <img src="/uploads/images/profil/{{ app.user.photoProfil }}">
                        </div>
                    <div>
                    <div class="containerDetailsProfil">
                        <div class="detailsProfil">
                            <span class="titleProfil"> Nom : {{ app.user.nom }}</span>
                        
                        </div>
                        <div class="detailsProfil">
                            <span class="titleProfil"> Prénom : {{ app.user.prenom }}</span>                          
                        </div>
                        <div class="detailsProfil">
                            <span class="titleProfil"> Email : {{ app.user.email }}</span>                           
                        </div>
                        <div class="detailsProfil">
                            <span class="titleProfil"> Téléphone : {{ app.user.telephone }}</span>
                        </div>
                    </div>
            </div>
                <!--<a href="{{ path('app_user_index') }}">back to list</a>-->
            <div>
                <a class="btn btn-lg btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}" role="button">Modifier mon profil</a>
                        </div>
                            {#{ include('user/_delete_form.html.twig') }#}
                        </div>
                    </div>
                    </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>
{% endblock %}
