{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ app.user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ app.user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ app.user.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ app.user.telephone }}</td>
            </tr>
            <tr>
                <th>Administrateur</th>
                <td>{{ app.user.administrateur ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ app.user.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PhotoProfil</th>
                <td>{{ app.user.photoProfil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
